* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.section:nth-child(even) {
    background-color: aqua;
    height: 20rem;
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}