* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-primary-color: #e64a19;
  --default-primary-color: #ff5722;
  --light-primary-color: #ffccbc;
  --text-primary-color: #212121;
  --text-icons: #ffffff;
  --accent-color: #607d8b;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
}

html {
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  font-size: 10px;
}

section {
  width: 100%;
  margin: 0 auto 40px;
  border-radius: 3px;
}

section:nth-child(even) {
  background-color: var(--accent-color);
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.results_img {
  max-width: 90%;
  margin: 10px;
}

.map {
  width: 100%;
  height: 280px;
  background-color: grey;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 40px auto;
  max-width: 720px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.2rem;
  margin: 0.5rem;
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: var(--text-icons);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

/* nav styleing */
header {
  width: 100%;
  background-color: var(--dark-primary-color);
}

#nav {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.navlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  min-height: 65px;
  height: auto;
  transition-property: height;
  transition-duration: 1s;
}

#nav .nav__control-icon {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  background: transparent;
  color: white;
  cursor: pointer;
  height: 25px;
  width: auto;
}

.nav__height {
  height: 65px;
}


/* search form */
.search-bar {
  position: relative;
}

.search-input {
  position: relative;
  border: 0.3rem solid var(--accent-color);
  height: 5rem;
  border-radius: 5rem;
  box-shadow: 0.5rem 0.5rem 0.4rem var(--dark-primary-color);
  padding: 0 60px 0 20px;
}

.search-btn {
  position: absolute;
  right: 5px;
  top: 5px;
}

.search-btn button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

input {
  height: 3rem;
  font-size: 1.5rem;
  width: 100%;
  border: none;
}

button {
  border: none;
  background-color: var(--accent-color);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background: var(--accent-color);
  border-radius: 50%;
}

.search__error {
  margin: 4px 10px;
  padding: 0 1rem;
  color: red;
}

.hide-display {
  display: none;
}

.hidden {
  visibility: hidden;
}

/* weatherModule css */
.weather {
  font-size: 14px;
  padding: 16px;
  border: 1px solid rgba(231, 236, 239, 1);
}

.weather ul,
.weather li {
  list-style: none;
  text-align: center;
}

.weather li {
  display: inline-block;
}

.weather__location {
  font-size: 18px;
}

.weather__current {
  margin: 20px 0;
}

.weather__forecast ul {
  display: flex;
  flex-direction: row;
  padding: 16px 0;
  overflow-y: hidden;
}

.weather__forecast li {
  flex: 1;
  color: #878787;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1em;
}

.current__location {
  font-size: 18px;
  margin-bottom: 4px;
}

.current__time {
  text-transform: capitalize;
}

.forecast__day {
  font-size: 0.9em;
}

.forecast__icon img {
  width: 30px;
  height: auto;
}

.forecast__max {
  color: #545454;
}

.weather__current-temp,
.weather__current-details {
  display: inline-block;
  vertical-align: middle;
}

.weather__current-temp > * {
  vertical-align: top;
  line-height: 48px;
  height: 48px;
}

.weather__current-details {
  margin-left: 48px;
}

.weather__temp {
  font-size: 48px;
}

.weather__unit {
  font-size: 12px;
  line-height: 2;
}

.weather__current-details li {
  display: block;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  padding: 0;
  margin: 4px 0;
}

/* images */
.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results_img {
  border-radius: 1rem;
}

/* footer */
.footer {
  text-align: center;
  background-color: var(--dark-primary-color);
  color: var(--text-icons);
  padding: 28px 0 0;
}

.footer h1 {
  margin-bottom: 12px;
  font-weight: normal;
}

.footer .list__contributors {
  display: inline-block;
}

.footer .list__contributors > li {
  padding: 0;
}

.footer .list__contributors li {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
}

.footer .list__contributors h3 {
  font-weight: normal;
  font-size: 1em;
}

.footer a {
  color: var(--text-icons);
}

.footer a:hover {
  color: var(--accent-color);
}

.footer a:link {
  color: var(--text-icons);
}

.footer a:visited {
  color: var(--text-icons);
}

/* media queries */
@media screen and (min-width: 415px) {
  .map {
    height: 400px;
  }

  .search__error {
    font-size: 13px;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-gap: 1rem;
  }

  .weather__forecast ul {
    overflow-y: none;
  }

  .footer .list__contributors > li {
    padding: 16px;
  }

  .navlist li {
    display: block;
  }

  #nav .nav__control-icon {
    display: none;
  }

}

@media only screen and (min-width: 600px) {
  /* nav */
  .navlist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /*search */
  input {
    height: 3rem;
    font-size: 1.5rem;
    width: 100%;
  }

  /* images */
  .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 15vw);
    grid-gap: 0.5rem;
  }

  .thumbs {
    width: 90%;
    height: 100%;
    object-fit: cover;
  }

  .results_img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
}
